.button{
    border: none;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: gray;
    color: black;

    &:hover{
        background-color: dimgray;
    }
}


.form{
    padding-left: 20px;
    padding-right: 20px;
  }